@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-input::selection {
    background-color: #525252;
}
